@model BilbiotekaMVCmodel.Models.User

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
       
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script >
 document.addEventListener("DOMContentLoaded", function () {
        const form = document.querySelector("form");
        const errorSpans = document.querySelectorAll(".field-validation-error");

        form.addEventListener("submit", function (e) {
           if (!validateFirstName()) e.preventDefault();
           if (!validateLastName()) e.preventDefault();
           if (!validateEmail()) e.preventDefault();                   
        });
        
         function validateFirstName() {
                const firstNameInput = document.querySelector("#FirstName");
        
                if (firstNameInput.value.trim() === "") {
                    errorSpans[0].innerHTML = "Imię użytkownika jest wymagane.";
                    return false;
                } else {
                    errorSpans[0].innerHTML  = "";
                    return true;
                }
            }
        
            function validateLastName() {
                const lastNameInput = document.querySelector("#LastName");
        
                if (lastNameInput.value.trim() === "") {
                   errorSpans[1].innerHTML = "Nazwisko użytkownika jest wymagane.";
                    return false;
                } else {
                    errorSpans[1].innerHTML = "";
                    return true;
                }
            }
        
            function validateEmail() {
                const emailInput = document.querySelector("#Email");
        
        const emailRegex = /^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/;
        
                if (!emailRegex.test(emailInput.value)) {
                   errorSpans[2].innerHTML = "Nieprawidłowy format adresu email.";
                    return false;
                } else {
                   errorSpans[2].innerHTML  = "";
                    return true;
                }
               }
    });
</script>