@model BilbiotekaMVCmodel.Models.BookLoan

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" id="formIdBookLoan"  method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BookId" class="control-label"></label>
                <select asp-for="BookId" class="form-control" asp-items="ViewBag.BookId" name="BookId">
                     <option >wybierz</option>
                </select>
                <span asp-validation-for="BookId" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId" name="UserId">
                    <option >wybierz</option>
                </select>
                <span asp-validation-for="UserId" class="text-danger"></span>

            </div>
         
            <div class="form-group">
                <label asp-for="RentalEndDate" class="control-label"></label>
                <input asp-for="RentalEndDate" class="form-control" />
                <span id="ValidComment" asp-validation-for="RentalEndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" id="subitIn"  value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const submitButton = document.querySelector("#formIdBookLoan");
        const errorSpans = document.querySelectorAll(".field-validation-error");


        submitButton.addEventListener("submit", function (e) {
            
            if (!validateRentalDates())  e.preventDefault();
            if (!validateUserId()) e.preventDefault();
            if (!validateBookId()) e.preventDefault();

            
        });
        function validateUserId(){
           let UserId = document.querySelector("#UserId").value; 
         
             if (UserId=="wybierz") {
                   errorSpans[1].innerHTML = "Wybierz id Czytelnika";
                   return false;
            
          }
             else {
                    errorSpans[1].innerHTML  = "";
                    return true;
                }             

        }
        function validateBookId(){
          let BookId = document.querySelector("#BookId").value; 

            if (BookId=="wybierz"){
                  errorSpans[0].innerHTML = "Wybierz id ksiązki";
                    return false;
         } 
        else {
                  errorSpans[0].innerHTML  = "";
                   return true;
          }  
            
        }
         function validateRentalDates() {
                    const endDateInput = document.getElementById("RentalEndDate");
                    const startDate = new Date();
                    
                    

                    const endDate = new Date(endDateInput.value)
                 
                   
                     if (isNaN(startDate.getTime()) || isNaN(endDate.getTime())) {
                        errorSpans[2].innerHTML  = "Podaj poprawne daty wypożyczenia.";
                        return false;
                    }  
                    else if (endDate <= startDate) {
                        errorSpans[2].innerHTML = "Data zakończenia wypożyczenia musi być późniejsza niż data rozpoczęcia.";
                        return false;
                    } 
                   else {
                      errorSpans[2].innerHTML  = "";
                         return true;
                   }  
                    
        
                }

        
       
    });
</script>

